<div class="row justify-content-center align-items-center">
    <button id="trip-datepicker-prev" class="no-highlight btn btn-lg float-left">
        <i class="fas fa-chevron-left float-left"></i>
    </button>
    <h3 id="trip-datepicker-title" class="col-8 mb-0 text-center"></h3>
    <button id="trip-datepicker-next" class="no-highlight btn btn-lg float-right">
        <i class="fas fa-chevron-right float-right"></i>
    </button>
</div>

<div id="trip-datepicker" class="px-lg-5">
</div>