{% extends 'main.twig' %}

{% block content %}

    <div class="mt-4">
        <div class="container">

            <div class="row">
                <h1 class="mb-2 col-12">Reise statistikk</h1>
                <div class="form-group col-md-12 col-lg-5 mb-0 mr-lg-1">
                    <div class="card p-0 shadow-md border-0 mt-3">
                        <div id="piechart1"></div>
                    </div>
                    <div class="card p-0 shadow-md border-0 mt-3">
                        <div id="piechart2"></div>
                    </div>
                </div>
                <div class="card shadow-md border-0 col-md-12 col-lg-6 mt-3">
                    <div id="campuschart"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyscripts %}
    <script>
        var currentTrips = '{{ trip|raw }}';
        var drivers = '{{ drivers|raw }}';
        var previousTrips = '{{ previousTrips|raw }}';
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/statistics.js"></script>
{% endblock %}